<!DOCTYPE html>
<html lang="en">
<!--Abdullah Nasser Bokubr
    ID: 2212171344
-->

<head>
    <title>Career</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../styles/style.css">
    <link rel="icon" href="../images/section1-img/kuwait-university-logo.webp" type="image/png">
</head>

<body>
    <!--Navigation Bar -->
    <div class="alert-link" role="alert">
        <nav class="navbar navbar-expand-md navbar-light custom-navbar">
            <a class="navbar-brand" href="../Templates/index.html">
                <img src="../images/section1-img/kuwait-university-logo.webp" alt="Kuwait University Logo"
                    style="height: 80px;">
            </a>
            <div class="nav justify-content-end">
                <a class="nav-link active" href="../Templates/index.html">Home</a>
                <a class="nav-link active" href="../Templates/faq.html">FAQ</a>
                <a class="nav-link active" href="../Templates/career.html">Career</a>
                <a class="nav-link active" href="../Templates/profile.html">Profile</a>
                <a class="nav-link active" href="../Templates/contact.html">Contact</a>
                <button type="button" class="btn btn-primary">Sign in</button>
            </div>
        </nav>
    </div>
    <!--Navigation Bar -->
    <header class="header">
        <h1>Welcome To Career Page</h1>
    </header>
    <a href="#Accounting">Accounting</a>
    <header class="header">
    </header>
    <h3>Skills required for fresh KUStudents</h3>

    <div class="card-deck">
        <div class="card">
            <img src="../images/career/Microsoft-Word-Symbol.png" class="card-img-top" alt="..." width="100px ">
            <div class="card-body">
                <h5 class="card-title">WORD</h5>
                <p class="card-text">Microsoft Word is a widely used word processing application Word provides users
                    with a range of tools and features to create, edit, format, and share documents.</p>
                <button class="card-btn">
                    <a href="https://etraining.percipio.com/channels/231992a0-e248-11e6-91a7-0242c0a80704">Click
                        here</a>
                </button>
            </div>
        </div>

        <div class="card">
            <img src="../images/career/powerpoint-logo-icon-png-svg.png" class="card-img-top" alt="..." width="60px ">
            <div class="card-body">
                <h5 class="card-title">PowerPoint</h5>
                <p class="card-text">Microsoft PowerPoint is the powerful presentation component of Microsoft Office.
                    Discover PowerPoint and its many uses.</p>
                <button class="card-btn">
                    <a href="https://etraining.percipio.com/channels/ff46e350-e247-11e6-93f3-0242c0a80605"
                        class="btn btn-primary">Click here</a>
                </button>
            </div>
        </div>

        <div class="card">
            <img src="../images/career/OIP.webp" class="card-img-top" alt="..." width="100px ">
            <div class="card-body">
                <h5 class="card-title">Excel</h5>
                <p class="card-text">SExcel is the powerful spreadsheet component of Microsoft Office. Discover Excel
                    and its many uses..</p>
                <button class="card-btn">
                    <a href="https://etraining.percipio.com/channels/3356fb80-e248-11e6-91a7-0242c0a80704"
                        class="btn btn-primary">Click here</a>
                </button>
            </div>
        </div>
        <div class="card">
            <img src="../images/career/hero.png-1568x898.png" class="card-img-top" alt="..." width="100px ">
            <div class="card-body">
                <h5 class="card-title">Presentations</h5>
                <p class="card-text">
                    Clear and effective presentations get results. Lean techniques for creating and delivering
                    memorable presentations </p>
                <button class="card-btn">
                    <a href="https://etraining.percipio.com/channels/074b0c00-f91f-11e6-aad2-6b3c03be7fe8"
                        class="btn btn-primary">Click here</a>
                </button>
            </div>
        </div>
        <div class="card">
            <img src="../images/career/R.png" class="card-img-top" alt="..." width="100px">
            <div class="card-body">
                <h5 class="card-title"> Teams</h5>
                <p class="card-text">Collaborate with your team using Microsoft Teams, a chat workspace for
                    professionals.</p>
                <button class="card-btn">
                    <a href="https://etraining.percipio.com/channels/86334311-30c0-11e7-986b-4f2e8dd821d3"
                        class="btn btn-primary">Click here</a>
                </button>
            </div>
        </div>
    </div>
    <header class="header">
        <h1>Skills for KUStudents majors for industry</h1>
        <p>Menegamant inforamtion system (MIS)</p>
    </header>

    <hr>
    <div class="card-deck">
        <div class="card">
            <img src="../images/career/Microsoft-Word-Symbol.png" class="card-img-top" alt="..." width="100px ">
            <div class="card-body">
                <h5 class="card-title">
                    Career Planning</h5>
                <p class="card-text">Take control of your career planning, and use these tools and techniques to create
                    a path for your professional growth. Professional growth and career advancement provide some clear
                    benefits responsibilities at work</p>
                <button class="card-btn">
                    <a href="https://etraining.percipio.com/channels/3c623b30-e71c-11e6-9835-f723b46a2688">Click
                        here</a>
                </button>
            </div>
        </div>
        <div class="card">
            <img src="../images/career/Microsoft-Word-Symbol.png" class="card-img-top" alt="..." width="100px ">
            <div class="card-body">
                <h5 class="card-title">WORD</h5>
                <p class="card-text">Microsoft Word is a widely used word processing application Word provides users
                    with a range of tools and features to create, edit, format, and share documents.</p>
                <button class="card-btn">
                    <a href="https://etraining.percipio.com/channels/231992a0-e248-11e6-91a7-0242c0a80704">Click
                        here</a>
                </button>
            </div>
        </div>
        <div class="card">
            <img src="../images/career/Microsoft-Word-Symbol.png" class="card-img-top" alt="..." width="100px ">
            <div class="card-body">
                <h5 class="card-title">WORD</h5>
                <p class="card-text">Microsoft Word is a widely used word processing application Word provides users
                    with a range of tools and features to create, edit, format, and share documents.</p>
                <button class="card-btn">
                    <a href="https://etraining.percipio.com/channels/231992a0-e248-11e6-91a7-0242c0a80704">Click
                        here</a>
                </button>
            </div>
        </div>
        <div class="card">
            <img src="../images/career/Microsoft-Word-Symbol.png" class="card-img-top" alt="..." width="100px ">
            <div class="card-body">
                <h5 class="card-title">WORD</h5>
                <p class="card-text">Microsoft Word is a widely used word processing application Word provides users
                    with a range of tools and features to create, edit, format, and share documents.</p>
                <button class="card-btn">
                    <a href="https://etraining.percipio.com/channels/231992a0-e248-11e6-91a7-0242c0a80704">Click
                        here</a>
                </button>
            </div>
        </div>
    </div>
    <a
        href="https://etraining.percipio.com/library/a46ad1c0-1e7d-11e9-8cfb-7f951b8cea35/f83ba221-02d3-4ec4-87b7-5a70f55ed04f">
        <h2>Ai and secrutiy all avavilable sertifications</h2>
    </a>















    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <script src="../scripts/index.js"></script>
    <hr>
    <footer>
        Kuwait University Guide © <span id="current-year"></span> Kuwait University. All rights reserved.
    </footer>
    <script>
        document.getElementById('current-year').textContent = new Date().getFullYear();
    </script>

</body>

</html>