<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../styles/style.css">
    <link rel="icon" href="../images/section1-img/kuwait-university-logo.webp" type="image/png">
</head>

<body>
    <!--Navigation Bar -->
    <div class="alert-link" role="alert">
        <nav class="navbar navbar-expand-md navbar-light custom-navbar">
            <a class="navbar-brand" href="../Templates/index.html">
                <img src="../images/section1-img/kuwait-university-logo.webp" alt="Kuwait University Logo"
                    style="height: 80px;">
                <p class="navbar-p">KUGuide</p>
            </a>
            <div class="nav justify-content-end">
                <a class="nav-link active" href="../Templates/index.html">Home</a>
                <a class="nav-link active" href="../Templates/faq.html">FAQ</a>
                <a class="nav-link active" href="../Templates/career.html">Career</a>
                <a class="nav-link active" href="../Templates/profile.html">Profile</a>
                <a class="nav-link active" href="../Templates/contact.html">Contact</a>
                <button type="button" class="btn btn-primary">Sign in</button>
            </div>
        </nav>
    </div>
    <!--Navigation Bar -->
    <h1>contact 5005005050</h1>


























    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <script src="../scripts/index.js"></script>
    <footer>
        Kuwait University Guide © <span id="current-year"></span> Kuwait University. All rights reserved.
    </footer>
    <script>
        document.getElementById('current-year').textContent = new Date().getFullYear();
    </script>

</body>

</html>